.git
node_modules/
www/*/__pycache__/
www/*
binaries/mongoose/src/
binaries/http/src/
binaries/https/src/
binaries/nginx/src/
binaries/perl/src/
binaries/php/src/
binaries/putty/src/
binaries/python/src/
binaries/python3/src/
binaries/tomcat/src/
binaries/java/src/
*/*/__pycache__/
.gitignore
req.checks.credits.txt
